:root {
  --text: black;
  --invoiceCardBg: white;
  --subText: grey;
  --pageBg: #fafafa;
  --paidIcon: rgba(218, 254, 220, 0.5);
  --pendingIcon: rgba(233, 232, 232, 0.5);
  --invoiceCarat: black;
  --statusPendingWord: gray;
  --invoiceBoxShadow: rgba(48,47,48,0.1);
  --invoiceTotalSheetBg: hsl(225, 100%, 98%);
  --inputBorder: lightGray;
  --buttonHover: hsl(224, 65%, 96.75%);
  --editInvoiceButtonHover: rgb(236, 238, 247);
  --overdueIcon: rgba(254, 218, 218, 0.5);
}

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
}

button:hover, a:hover {
    cursor: pointer;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
