
<div class="wrapper">
  <div class="spacerDiv"></div>
  <mat-drawer-container class="example-container">
    <mat-drawer #drawer class="navDrawer" mode="over">
        <der-grune-bauer-edit-invoice *ngIf="showDrawer" (closeEvent)="drawer.toggle()" (closeEvent)="closeDrawer()"></der-grune-bauer-edit-invoice>
      </mat-drawer>
<div class="innerWrapper">
  <div class="backButton" routerLink="/Dashboard">
    <div class="svgDiv"><svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-6 w-6"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M15 19l-7-7 7-7"
      />
    </svg>
</div>
    Go Back
  </div>

  <div class="invoiceStatus">
      <div class="totalStatus">
    <div class="statusTitle">Status</div>
    <div
      class="statusDot"
      [ngClass]="{
        statusDraft: invoiceDetails[0].status == 'Draft',
        statusPaid: invoiceDetails[0].status == 'Paid',
        statusPending: invoiceDetails[0].status == 'Pending'
      }"
    >
      •
      <div class="status">{{ invoiceDetails[0].status }}</div>
    </div>
</div>
    <div class="buttons" *ngIf="screenWidth >= 768">
        <div class="editButton" (click)="showDrawer = true" (click)="drawer.toggle()">Edit</div>
        <div class="deleteButton">Delete</div>
        <div class="statusChangeButton">Mark As Paid</div>
    </div>
  </div>

  <div class="invoiceInfo">
    <div class="firstInfoBox">
        <div>
      <div class="invoiceCode title">
        #<span class="code bold">RT00{{ invoiceDetails[0].id }}</span>
      </div>
      <div class="projectDescription title">
        {{ invoiceDetails[0].projectDescription }}
      </div>
    </div>
      <div class="address title">
        {{ invoiceDetails[0].billfrom_address }}<br />
        {{ invoiceDetails[0].billfrom_city }}<br />
        {{ invoiceDetails[0].billfrom_postcode }}<br />
        {{ invoiceDetails[0].billfrom_country }}<br />
      </div>
    </div>
    <div class="clientInfo">
    <div class="secondInfoBox">
      <div class="invoiceDate title">
        Invoice Date<br />
        <div class="iDate bold">{{ invoiceDetails[0].due_date | date }}</div>
      </div>
      <div class="paymentDate title">
        Payment Date<br />
        <div class="pDate bold">{{
          invoiceDetails[0].paymentDate
        }}</div>
      </div>
      <div class="billTo title">
        Bill To<br />
        <div class="clientName bold" >{{
          invoiceDetails[0].client_name
        }}</div
        >
        <div class="clientAddress">
        {{ invoiceDetails[0].client_address }}<br />
        {{ invoiceDetails[0].client_city }}<br />
        {{ invoiceDetails[0].client_postCode }}<br />
        {{ invoiceDetails[0].client_country }}<br />
    </div>
      </div>
    </div>
    <div class="sendTo title">
      Send To<br />
      <div class="clientEmail bold">{{
        invoiceDetails[0].client_email
      }}</div>
    </div>
</div>
    <div class="itemDetails">
        <div class="items" *ngFor="let item of invoiceDetails[0].items; let i = index;">
            <div>
                <div class="itemName">{{ invoiceDetails[0].items[i][0] }}</div>
                <div class="itemQty">{{ invoiceDetails[0].items[i][1] }} x {{ invoiceDetails[0].items[i][2] | currency}}</div>
            </div>
            <div class="subTotal">{{ (invoiceDetails[0].items[i][1] * invoiceDetails[0].items[i][2]).toFixed(2) | currency}}</div>
        </div>
    </div>
    <div class="grandTotal">
        <div class="totalTitle">Grand Total</div>
        <div class="totalPrice">{{invoiceDetails[0].amount_due | currency}}</div>
    </div>
  </div>

</div>


<div class="footer" *ngIf="screenWidth < 768">
    <div class="editButton" (click)="showDrawer = true" (click)="drawer.toggle()">Edit</div>
    <div class="deleteButton">Delete</div>
    <div class="statusChangeButton">Mark As Paid</div>
  </div>
</mat-drawer-container>
</div>