.wrapper {
  height: 90vh;
  width: 100vw;
  background-color: var(--pageBg);
  overflow-y: auto;
}
.innerWrapper {
  padding: 30px 20px;
}

mat-drawer-container {
  width: 100%;
  height: auto;
  overflow-y: auto;
  background-color: var(--pageBg);
}

.navDrawer {
  width: 100%;
  height: auto;
  background-color: var(--pageBg);
  overflow-y: auto;
}

.fullSize {
  height: 90vh;
}

.backButton {
  height: 30px;
  width: 90px;
  margin-bottom: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--text);
}
.backButton svg {
  height: 15px;
  width: 15px;
  color: var(--text);
}

.invoiceStatus {
  height: 100px;
  width: 100%;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  background-color: var(--invoiceCardBg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 6px 24px -7px var(--invoiceBoxShadow);
}

.totalStatus {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.statusTitle {
  font-weight: bold;
  color: var(--subText);
}
.statusDot {
  height: 40px;
  width: 110px;
  border-radius: 3px;
  font-size: 29px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}
.status {
  margin-left: 5px;
  font-size: 15px;
}
.statusPaid {
  background: var(--paidIcon);
  color: #2ac28f;
}
.statusPending {
  background: var(--pendingIcon);
  color: var(--statusPendingWord);
}
.statusOverdue {
  background: var(--overdueIcon);
  color: #ff5353
}

.invoiceInfo {
  height: auto;
  width: 100%;
  border-radius: 5px;
  background-color: var(--invoiceCardBg);
  padding: 20px;
  box-shadow: 0px 6px 24px -7px var(--invoiceBoxShadow);
}

.firstInfoBox {
  height: 170px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.code {
  color: var(--text);
  letter-spacing: 1.25px;
}

.projectDescription {
  margin-bottom: 20px;
}

.clientInfo {
  display: flex;
  flex-direction: column;
}

.secondInfoBox {
  height: 150px;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.iDate,
.pDate,
.clientEmail {
  margin-bottom: 25px;
  margin-top: 8px;
  color: var(--text);
  letter-spacing: 1.25px;
}

.clientName {
  margin: 8px 0;
  color: var(--text);
}

.bold {
  font-weight: bold;
  font-size: 18px;
}

.title {
  color: var(--subText);
  font-size: 16px;
}

.itemDetails {
  height: auto;
  width: 100%;
  border-radius: 5px 5px 0 0;
  background-color: var(--invoiceTotalSheetBg);
  display: flex;
  flex-direction: column;
  padding: 20px 20px 0 20px;
}

.items {
  height: 40px;
  width: 100%;
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.itemName,
.subTotal {
  font-size: 18px;
  font-weight: bold;
  color: var(--text);
  letter-spacing: 1.25px;
}
.itemQty {
  color: var(--subText);
  margin-top: 5px;
}

.grandTotal {
  width: 100%;
  height: 80px;
  border-radius: 0 0 5px 5px;
  background-color: hsl(232, 18%, 24%);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.totalPrice {
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 1.25px;
}

.footer {
  height: 10vh;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.editButton,
.deleteButton,
.statusChangeButton {
  height: 55px;
  width: auto;
  padding: 15px 25px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.editButton {
  color: var(--text);
  background-color: var(--invoiceTotalSheetBg);
  border: var(--inputBorder) solid 2px;
}
.deleteButton {
  color: white;
  background-color: #e22e2e;
}
.statusChangeButton {
  color: white;
  background-color: #9b6dff;
}
.editButton:hover {
  background-color: var(--editInvoiceButtonHover);
  /* color: rgb(239, 241, 248); */
}
.deleteButton:hover {
  background-color: #c92727;
}
.statusChangeButton:hover {
  background-color: #8f64ec;
}

.backButton:hover,
.editButton:hover,
.deleteButton:hover,
.statusChangeButton:hover {
  cursor: pointer;
  outline: none;
}

@media only screen and (min-width: 768px) {
  .innerWrapper {
    height: 90vh;
  }

  .invoiceStatus {
    padding: 30px;
  }

  .navDrawer {
    width: 70%;
    position: fixed;
    margin-top: 10vh;
    border-radius: 0 25px 25px 0;
  }

  .totalStatus {
    justify-content: space-between;
    width: 30%;
  }
  .statusTitle {
    margin-right: 15px;
  }

  .buttons {
    width: 55%;
    display: flex;
    justify-content: space-between;
  }

  .editButton,
  .deleteButton,
  .statusChangeButton {
    height: 45px;
    padding: 15px 30px;
    border-radius: 30px;
  }

  .invoiceInfo {
    padding: 30px;
  }

  .firstInfoBox {
    height: 150px;
    flex-direction: row;
    justify-content: space-between;
  }

  .clientInfo {
    flex-direction: row;
  }

  .address {
    text-align: end;
  }
}

@media only screen and (min-width: 1024px) {
  .buttons {
    width: 40%;
  }

  .navDrawer {
    width: 50%;
  }
  .totalStatus {
    width: 20%;
  }
}

@media only screen and (min-width: 1440px) {
  .wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
  }

  .innerWrapper {
    padding: 30px 240px 30px 300px;
  }
  .spacerDiv {
    height: 100%;
    width: 7.5vw;
  }

  .navDrawer {
    width: 35%;
    margin-top: 0;
    position: absolute;
  }

  .statusTitle {
    margin-right: 40px;
  }

  .buttons {
    width: 45%;
  }

  .svgDiv {
    width: 110px;
    height: 30px;
    left: 280px;
    position: absolute;
    z-index: 100;
    display: flex;
    align-items: center;
    transition: left 0.5s;
  }
  .svgDiv:hover {
    left: 260px;
  }
  .totalStatus {
    width: 18%;
  }
}
