<div
  class="outsideWrapper"
  routerLink="/individualInvoice"
  *ngFor="let invoice of invoices; let i = index"
  (click)="setInvoiceDetails(invoice)"
>
  <div class="wrapper">
    <div class="codeDateAmount">
    <div class="hashtag">
      #
      <div class="code">RT00{{ invoice.id }}</div>
    </div>
    <div class="date">Due {{ invoice.due_date  | date}}</div>
    <div class="amount">{{ invoice.amount_due | currency}}</div>
  </div>
  <div class="clientStatus">
    <div class="client">{{ invoice.client_name }}</div>
    <div
      class="statusDot"
      [ngClass]="{
        statusDraft: invoice.status == 'Draft',
        statusPaid: invoice.status == 'Paid',
        statusPending: invoice.status == 'Pending'
      }"
    >
      • 
      <div class="status">{{ invoice.status }}</div>
    </div>
  </div>
    <svg
      *ngIf="screenWidth >= 768"
      xmlns="http://www.w3.org/2000/svg"
      class="arrow"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M9 5l7 7-7 7"
      />
    </svg>
  </div>
</div>
