.wrapper {
  height: 130px;
  padding: 20px;
  margin: 20px auto;
  background-color: var(--invoiceCardBg);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-between;
  text-decoration: none;
}
.wrapper:active, .wrapper:focus, .wrapper:visited {
  outline: none;
}

.codeDateAmount{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.clientStatus{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  align-items: flex-end;
}

.hashtag {
  color: var(--subText); 
  font-size: 1em;
  font-weight: bold;
  display: flex;
  margin-bottom: 23px;
}
.code {
  color: var(--text);
  font-size: 1em;
}

.date {
  color: var(--subText);
  font-size: 1em;
  margin-bottom: 5px;
}

.amount {
  color: var(--text);
  font-weight: bold;
  font-size: 1.25em;
  margin-bottom: 30px;
}

.client {
  color: var(--subText);
  font-size: 1em;
}

.statusDot {
  height: 40px;
  width: 110px;
  border-radius: 3px;
  font-size: 29px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
}

.status {
  margin-left: 5px;
  font-size: 15px;
}
.statusDraft, .statusPaid, .statusPending {
  letter-spacing: 1px;
}
.statusPaid {
  background: var(--paidIcon);
  color: #2ac28f;
}
.statusPending {
  background: var(--pendingIcon);
  color: #fc9c39;
}
.statusDraft {
  background: var(--draftIcon);
  color: var(--statusDraftWord);
}

.arrow {
  color: var(--invoiceCarat);
}

.amount, .hashtag, .code, .status {
  letter-spacing: 1.25px;
}

@media only screen and (min-width: 768px) {
  .wrapper {
    height: 80px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 0;
  }
  .codeDateAmount{
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
    align-items: center;
  }
  .dateName{
    display: flex;
    align-items: center;
    width: 75%;
  }
  
  .clientStatus{
    flex-direction: row;
    width: 40%;
    justify-content: flex-end;
    align-items: center;
    padding-right: 30px;
  }
  .amount{
    margin: 0 25px 0 0;
  }

  .hashtag {
    margin: 0 0 0 20px;
  }
  .date {
    margin: 0 20px 0 0;
  }

  .client,
  .status {
    margin: 0;
  }

  .wrapper svg {
    height: 15px;
    width: 15px;
    margin-left: -15px;
  }
 
}
@media only screen and (min-width: 1024px) {
  .date{
    margin: 0 50px 0 40px;
  }
  .amount{
    margin-right: 55px;
  }
  .hashtag {
    margin: 0 0 0 55px;
  }
  .statusDot {
    margin-right: 25px;
  }
}


@media only screen and (min-width: 1440px) {
  .wrapper:hover {
      cursor: pointer;
      box-shadow: 0px 6px 24px -7px var(--invoiceBoxShadow);
  }
  .wrapper svg {
    margin-left: -45px;
  }
   
  .clientStatus{
    padding-right: 45px;
  }
}

@media only screen and (min-width: 1750px) {
  .statusDot {
    margin-right: 55px;
  }
  .client{
    margin-left: 55px;
  }

  .amount{
    margin-right: 95px;
  }
  .hashtag, .date, .client {
    font-size: 1.25em;
  }
}
