.wrapper {
  height: 100%;
  width: 100vw;
  background-color: var(--pageBg);
  padding: 30px 20px;
  overflow-y: auto;
}

.title {
  font-size: 28px;
  font-weight: bold;
  color: var(--text);
}

@media only screen and (min-width: 768px) {
.wrapper {
  width: 100%;
}
.wrapper::-webkit-scrollbar {
  display: none;
}
}

@media only screen and (min-width: 1440px) {
  .wrapper {
    padding: 30px 50px;
  }
}
