<form #invoiceForm = "">

    <div class="billFromTitle">Bill From</div>
    <div class="billFromSection">
    <div class="stAddress title">Street Address <br>
    <input type="text"
        class="stAddress"
        name="stAddress"
        #userAddress
        value={{userInfo[0].user_address}}/></div>

    <div class="postAndCity">
    <div class="city title">City <br>
    <input type="text"
        class=""
        name="city"
        #userCity
        value={{userInfo[0].user_city}}/></div>

    <div class="postCode title">Post Code<br>
    <input type="text"
        class=""
        name="postCode"
        #userPostcode
        value={{userInfo[0].user_postcode}}/></div>
    </div>

    <div class="country title">Country <br>
    <input type="text"
        class="country"
        name="country"
        #userCountry
        value={{userInfo[0].user_country}}/></div>
    </div>

    <div class="billToTitle">Bill To</div>
    <div class="billToSection">
    <div class="clientName title">Client's Name <br>
    <input type="text"
        class="clientName"
        name="clientName"
        #clientName/></div>
    
    <div class="clientEmail title">Client's Email <br>
    <input type="text"
        class="clientEmail"
        name="clientEmail"
        #clientEmail/></div>

    <div class="stAddress title">Street Address <br>
    <input type="text"
        class="clientStAddress"
        name="clientStAddress"
        #clientAddress/></div>
    
    <div class="postAndCity">
    <div class="clientCity title">City <br>
    <input type="text"
        class="clientCity"
        name="clientCity"
        #clientCity/></div>

    <div class="clientPostCode title">Post Code <br>
    <input type="text"
        class="clientPostCode"
        name="clientPostCode"
        #clientPostcode/></div>
    </div>
    
    <div class="clientCountry title">Country <br>
    <input type="text"
        class="clientCountry"
        name="clientCountry"
        #clientCountry/></div>
    </div>

    <div class="descriptionSection">
    <div class="date title">Invoice Date<br>
    <input type="date"
        class="date"
        name="date"
        #dueDate/></div>
    
    <div class="paymentTerms title">Payment Terms <br>
    <select
        class="paymentTerms"
        #paymentTerms
        >
        <option value="Net 30 Days">30 Days</option>
        <option value="Net 60 Days">60 Days</option>
        <option value="Net 90 Days">90 Days</option>
    </select></div>
    
    <div class="projectDescription title">Project Description<br>
    <input type="text"
        class="projectDescription"
        name="projectDescription"
        #projectDescription/>
    </div></div>


<div class="itemListTitle">Item List</div>
<table class="items">
    <tr>
        <th class="title">Item Name</th>
        <th class="title">Qty</th>
        <th class="title">Price</th>
        <th class="subTotal title">Total</th>
    </tr>
    <tr *ngFor="let item of items; let i=index">
        <td>
            <input type="text"
                class="itemName"
                name="itemName"
                />
        </td>
        <td>
            <input type="number"
                class="quantity"
                name="quantity"
                />
        </td>
        <td>
            <input type="number"
                class="price"
                name="price"
            />
        </td>
        <td class="subTotal">
            <div class="subTotalPrice">
                <!-- {{ quantity[i] * price[i] }} -->$400
            </div>
        </td>
        <svg (click)="removeNewItem(i)" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 deleteNewItem" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
        </svg> 
    </tr>
</table>

<div class="addItem" (click)="addNewItem()">+ Add New Item</div>
<div class="buttons">
    <div class="saveButton" 
    (click)="postInvoice(userAddress.value, 
    userCity.value, 
    userPostcode.value, 
    userCountry.value, 
    clientName.value, 
    clientEmail.value, 
    clientAddress.value, 
    clientCity.value, 
    clientPostcode.value, 
    clientCountry.value, 
    dueDate.value,
    paymentTerms.value,
    projectDescription.value)" routerLink="/Dashboard">Create Invoice</div>
    <div class="cancelButton" (click)="closeDrawer()" routerLink="/Dashboard">Cancel</div>
</div>
</form>