.wrapper {
  height: 90vh;
  width: 100vw;
  background-color: hsl(225, 100%, 98%);
  overflow-y: auto;
}

.innerWrapper {
  padding: 20px 20px 30px 20px;
}

mat-drawer-container {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
.navDrawer {
  width: 100%;
  height: auto;
  background-color: white;
  overflow-y: auto;
}

.upperStats {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.invoiceAndAmount {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.invoiceTitle {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 3px;
}
.invoiceAmount {
  font-size: 16px;
}

.filterAndNew {
  display: flex;
  align-items: center;
}
.filter {
  width: 90px;
  margin-right: 10px;
  border: none;
  background-color: #fafafa;
  font-size: 16px;
  font-weight: 500;
  padding-left: 10px;
  text-decoration: none;
  outline: none;
}
.filter:hover {
  cursor: pointer;
}

.newButton {
  height: 50px;
  width: 97px;
  border-radius: 40px;
  background-color: #9b6dff;
  color: white;
  display: flex;
  align-items: center;
  font-weight: 500;
}
.innerNewButtonCircle {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  position: relative;
  left: 7px;
  background-color: white;
  color: #9b6dff;
  font-weight: bold;
  font-size: 30px;
  margin-right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.invoiceList {
  height: auto;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .innerWrapper {
    padding: 40px 40px 30px 40px;
  }

  .navDrawer {
    width: 70%;
    position: fixed;
    margin-top: 10vh;
    border-radius: 0 25px 25px 0;
  }

  .invoiceTitle {
    font-size: 30px;
    margin-bottom: 6px;
  }

  .newButton {
    width: 150px;
    border-radius: 40px;
  }
  .innerNewButtonCircle {
    position: relative;
    left: 7px;
    font-size: 30px;
    margin-right: 15px;
  }
}

@media only screen and (min-width: 1024px) {
  .navDrawer {
    width: 50%;
  }
}

@media only screen and (min-width: 1440px) {
  .wrapper {
    height: 100vh;
    width: 100vw;
    padding: 0;
    display: flex;
  }

  .spacerDiv {
    height: 100%;
    width: 7.5vw;
  }

  .navDrawer {
    width: 35%;
    margin-top: 0;
    position: absolute;
  }
  
  .innerWrapper {
    padding: 60px 240px 30px 300px; 
    width: 100%;
  }

  .upperStats {
    margin-bottom: 50px;
  }

  .filter {
    font-size: 18px;
  }

  .newButton:hover {
    cursor: pointer;
    background-color: #8f64ec;
  }

  .innerNewButtonCircle {
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

}
