<div class="wrapper">
    <div class="upperStats">
        <div class="invoiceAndAmount">
            <div class="invoiceTitle">Invoices</div>
            <div class="invoiceAmount">{{ invoices.length }} invoices</div>
        </div>
        <div class="filterAndNew">
            <div class="filter">Filter</div>
            <div class="newButton">
                <div class="innerNewButtonCircle"><div class="plus">+</div></div>
                New
            </div>
        </div>
    </div>
    <div class="invoiceList">
        <der-grune-bauer-invoice-card class="individualInvoice"></der-grune-bauer-invoice-card>
    </div>
</div>
