<div class="wrapper">
    <div class="upperStats">
        <div class="invoiceAndAmount">
            <div class="invoiceTitle">Invoices</div>
            <div class="invoiceAmount" *ngIf="screenWidth < 768">{{ invoiceNumber }} invoices</div>
            <div class="invoiceAmount" *ngIf="screenWidth >= 768">There are {{ invoiceNumber }} total invoices</div>
        </div>
        <div class="filterAndNew">
            <select class="filter">
                <option>Filter By...</option>
                <option value="statusPaid">Status - Paid</option>
                <option value="statusPending">Status - Pending</option>
                <option value="statusDraft">Status - Draft</option>
            </select>
            <div class="newButton">
                <div class="innerNewButtonCircle"><div class="plus">+</div></div>
                <span class="noOutline" *ngIf="screenWidth < 768" routerLink="/newInvoice">New</span>
                <span class="noOutline" *ngIf="screenWidth >= 768" routerLink="/newInvoice">New Invoice</span>
            </div>
        </div>
    </div>
    <div class="invoiceList">
        <der-grune-bauer-invoice-card class="individualInvoice noOutline"></der-grune-bauer-invoice-card>
    </div>
</div>
